@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, Helvetica Neue, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: #ece4d4; /* beige global para evitar área blanca */
}

#root {
  min-height: 100vh;
}
